h1{
	text-align: center;
	margin-top: 100px;
	font-family: 'Amaranth', sans-serif;
	

}

body{
	background-image: url(http://www.nasa.gov/images/content/635040main_potw1213a.jpg);
	background-attachment:fixed;
	background-size:cover;
	color:white;
}